#b{
    /* background-color: rgb(255, 255, 255); */
    padding: 15px;
    background-image: url('pics/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness();
}

/* container for header */
#flex-container0{
    display: flex;
    padding: 0;
    margin: 20px;
    background-color: rgb(28, 47, 59);
    border-radius: 3px;
    position: sticky;
    top: 15px;
    align-items: stretch;
}
#hello{
    margin-left: 20px;
    width: 70%;
    font-size: x-large;
    font-weight: bolder;
}
.nav{
    display: contents;
    color: white;
    font-family: monospace;
    justify-content: end;
}
#navbar{
    align-items: end;
}
.navtext{
    font-size: x-large;
    margin-right: 20px;
    margin-bottom: 13px;
    align-self: end;
}

/* container for first section - about */
#flex-container1{
    display: flex;
    background-color: rgba(1, 1, 1, 0.1);
    border-radius: 3px;
    margin: 20px;
    padding-bottom: 10px;
    align-content: space-evenly;
    justify-content:space-evenly;
}
#pic{
    height: 130px;
    margin: 10px;
    margin-right: 0;
    border-radius: 3px;
}
.d1{
    color: black;
    font-family: monospace;
    padding: 15px;
}
.d2{
    color: black;
    font-family: monospace;
    padding: 15px;
    width: 30%;
}
#me{
    width: 25%;
    margin: 0;
}
#abt{
    margin: 0;
    text-align: justify;
}
.big{
    font-size: x-large;
    margin-bottom: 0;
    margin-left: 0;
    font-weight: bolder;
}
.small{
    font-size: large;
}
.smaller{
    font-size: medium;
    font-style: italic;
    margin-bottom: 0;
    color: rgb(48, 48, 48);
}
.medium{
    font-size: large;
    font-weight: bold;
    margin-bottom: 0px;
}


.sec{
    display: flex;
    padding: 0;
    margin: 20px;
    margin-bottom: 0;
    background-color: rgb(60, 83, 99);
    border-radius: 3px;
    align-items: stretch;
    color: white;
    font-family: monospace;
    justify-content: start;
    padding-left: 20px;
}


/* container for projects */
#flex-container2{ 
    display: flex;
    margin-bottom: 25px;
    margin: 15px;
    margin-top: 0;
    align-content: space-between;
    border-radius: 3px;
}
#projs{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
    color: black;
    font-family: monospace;
    text-align: left;
    font-size: medium;
}
.project1{
    width: 20%;
    padding: 15px;
    border-radius: 3px;
    background-color: rgba(57, 98, 128, 0.289);
}

/* container for footer */
.flex-container3{ 
    display: flex;
    background-color: rgba(5, 5, 5, 0.1);
    border-radius: 3px;
    margin: 20px;
    justify-content: center;
}

#logo{
    height: 80px;
    margin: 5px;
    margin-right: 0;
}

/* for links in page */
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(201, 203, 165);
    background-color: transparent;
    text-decoration: underline;
}

ul{
    list-style: disc;
    margin: 0;
}
